<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kyosk_sdet">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KyoskSDET">
        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.KyoskSDET.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.HomeScreen"/>
        <activity android:name=".cart.CartDetails"/>
        <activity android:name=".cart.Order_Summary"/>
        <activity android:name=".cart.PlaceOrderActivity"/>
        <activity android:name=".cart.payment2"/>
        <activity android:name=".Orders.OrderHistory"/>
        <activity android:name=".Orders.OrderHistory_ViewDetails"/>
    </application>

</manifest>